.ckidka{
    position:absolute;
    top:5px;
    left:-80px;
    padding: 5px;
    width: 200px;
    background-color: green;
    text-align: center;
    transform: rotate(-45deg);
    color: white;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.textp{
    color: #ff3f49;
    text-align: center;
}
.text{
    font-size: 40px;
}
